<!--
<ul>
  <li><a href="/contacts">View all contacts</a></li> -->
    <div>There are <span><%= Contact.all %></span> contact</div>

      <ul>


        <li><a href="/edit">Edit</a>|<a href="/delete">Delete</a><li>
      </ul>

  <!-- <li><a href="/contacts/new">Add a new contacts</a></li>
  <li><a href="/contacts">Modify an existing contact</a></li>
  <li><a href="/contacts">Delete a contact</a></li>
  <li><a href="/contacts">Search by attribute</a></li>
  <li><a href="/contacts">Exits</a></li>
</ul> -->
