
<ul>
  <li><a href="/contacts">View all contacts</a></li>
  <!-- please complete me with links to other actions -->

  <li><a href="/contacts">Modify an existing contact</a></li>
  <li><a href="/delete">Delete a contact</a></li>
  <li><a href="/contacts/:id/edit">Edit a contact</a></li>
  <li><a href="/contacts">Search by attribute</a></li>


</ul>
